# Ignorar arquivos de sistema do macOS
.DS_Store
.AppleDouble
.LSOverride

# Ignorar arquivos temporários do Xcode
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Ignorar configurações de usuário do Xcode
*.xcodeproj/project.xcworkspace/xcshareddata/xcschemes/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Ignorar arquivos do CocoaPods (se usarem no futuro)
Pods/

# Ignorar arquivos lixo Xcode
*.xcuserstate
xcuserdata/
