<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>MozillaHeadline_Condensed-Bold.ttf</string>
		<string>MozillaHeadline_Condensed-Medium.ttf</string>
		<string>MozillaHeadline_Condensed-ExtraLight.ttf</string>
		<string>Asap_Condensed-Regular.ttf</string>
		<string>Asap_Condensed-Bold.ttf</string>
		<string>DMSerifText-Regular.ttf</string>
	</array>
</dict>
</plist>
